html {
  height: 100%;
}

body {
  width: 100%;
  position: absolute;
}

.transparente {
  background: transparent;
}

.navbar-gray {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 40%, rgba(0, 0, 0, 0));
}

.navbar-brand-size {
  max-width: 160px;
  filter: brightness(0) invert(1);
}

a, button {
  color: white;
}

.div {
  background-color: black;
}

.menu-black {
  background-color: black !important;
}

.busqueda {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
}

.busqueda h2 {
  color: white;
  display: block;
}

.busqueda .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .busqueda input {
  height: 20px;
  width: 300px;
  display: block;
} */

.router-container {
  display: block;
  overflow: hidden;
}

.footer-wrapper {
  z-index: -1;
}

.myBtn {
  /* width: 100px; */
  font-size: 16px;
  padding: 0 10px;
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
}

nav.navbar.navbar-light.navbar-gray {
  overflow: hidden;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

@media (max-width: 600px) {
  nav.navbar.navbar-light.navbar-gray {
    overflow: hidden;
    transition: 0.4s;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 99;
  }
}