<div class="margin">
  <div class="selected-video">

    <!-- The video -->
    <video autoplay muted loop id="myVideo">
      <source src="../../../assets/video/intro_movies.mp4" type="video/mp4">
    </video>

    <div class="content">
      <h1>Descubre nuestras Peliculas!</h1>
      <p class="content1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem excepturi ea similique suscipit dolore modi ad sapiente beatae sed ullam, consectetur, aspernatur natus. Fugit saepe asperiores deleniti magnam in. Tempora.</p>

   <!--    <button id="myBtn" onclick="myFunction()">Pause</button> -->
    </div>
  </div>


  <ng-image-slider [images]="images" #nav>

  </ng-image-slider>