.footer{
    width: 100%;
    bottom: 0;
    background: url(../../../assets/main/piso_02.jpg);
    /* background-color: rgba(255, 255, 255, 0.6); */
    text-align: center;   
    color: black;
    position: relative;
    font-family: 'Quattrocento Sans', sans-serif;
}

.padre{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    padding: 50px 0;
}

a, button{
    color: rgb(247, 244, 244);
}
.credito{
    text-align: right;
}

