<div class="backwhite">
  <div class="crearcancion">
    <h2>{{ tituloComponente }}</h2>
  </div>
  <form class="formcrearcancion" #updateForm="ngForm" (ngSubmit)="manejoCancion()" ngNativeValidate>
    <div class="form-group">
      <label for="formGroupExampleInput">Titulo:</label>
      <input type="text" class="form-control inputdat1" id="formGroupExampleInput" #titulo="ngModel" name="titulo"
        [(ngModel)]="cancion.titulo" required [disabled]="cargarFichero">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Duracion:</label>
      <input type="text" class="form-control inputdat1" id="formGroupExampleInput2" #duracion="ngModel" name="duracion"
        [(ngModel)]="cancion.duracion" [disabled]="cargarFichero" required>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput4">Genero:</label>
      <select placeholder="seleccione" class="form-control input1" name="genero" #genero="ngModel" [(ngModel)]="cancion.genero" [disabled]="cargarFichero" required>
      <option  [value]="item1.value" *ngFor="let item1 of lista1">{{item1.label}}</option> -->
       </select>
    </div>

    <div>
      <label for="exampleInputInput3" class="label1">Tipo</label>
      <select placeholder="seleccione" class="form-control input1" name="tipo" #tipo="ngModel"
        [(ngModel)]="cancion.tipo" [disabled]="cargarFichero" required>
        <option [value]="item.value" *ngFor="let item of lista">{{item.label}}</option>
      </select>
    </div>
    <!-- <div class="botoncrear"><button type="submit" class="btn btn-primary radius ">Crear Cancion</button></div>
     -->
    <div *ngIf="cargarFichero">
      <p>
        <label> Sube el fichero de pelicula/serie</label>
        <br>
        <input type="file" placeholder="Subir fichero" (change)="fileChangeEvent($event)">
      </p>
    </div>
    <div class="dflex boton2">
      <button type="submit" class="btn btn-primary radius">{{ tituloComponente }}</button>
    </div>
    <div *ngIf="cancionCorrecta" class="alert alert-danger d-flex align-items-center">
      {{cancionCorrecta}}
      <div class="spinner-border ml-auto" *ngIf="actualizacionCorrecta" role="status" aria-hidden="true"></div>
    </div>
  </form>
</div>