* {
  padding: 0%;
  margin: 0%;
}

h1,h2{
  font-family: 'Frijole', cursive;
}

body {
  margin: 0;
  font-family: 'Quattrocento Sans', sans-serif;
}


.mat-menu-content {
  background-color: black !important
}

.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
  white-space: normal;
  margin-right: 200px;
}

.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
  font-family: 'Lato', sans-serif;
  ;
}

.mat-icon-button {
  padding: 0;
  min-width: auto !important;
  width: auto !important;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
}

/* .container1 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    border: 2px dashed rgba(114, 186, 94, 0.35);
    height: 400px;
    background: rgba(114, 186, 94, 0.05);
  }
  
  .pirate {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
 */

p, label {
  color: black;
}

#fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 1) 70%), url('../src/assets/loginbackground.jpg');
  background-size: 100% 100%, 100%, 100%;
  min-height: calc(100vh - 119px);
  font-family: 'Quattrocento Sans', sans-serif;
  background:url(assets/main/pared_01.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  width:100%;
}



/* .ng-star-inserted {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: -70px;
} */



.ng-image-slider .ng-image-slider-container .main .main-inner .img-div .caption {
  text-transform: capitalize;
}

/* Styles menu */
.ng-image-slider .ng-image-slider-container .main .main-inner .img-div{
  transition: transform 0.1s; 
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
 
  
 }
 .ng-image-slider .ng-image-slider-container .main .main-inner .img-div:hover {
  transform: scale(1.0);
  margin-left:30px!important; 
  margin-right:30px!important; 
   -webkit-box-shadow: 0px 7px 26px 14px rgba(240,240,240,1);
  -moz-box-shadow: 0px 7px 26px 14px rgba(240,240,240,1);
  box-shadow: 0px 7px 26px 14px rgba(240,240,240,1); 
 }
 .ng-image-slider .ng-image-slider-container .main{
   padding:8px!important;
 }
 .ng-image-slider .ng-image-slider-container .main .main-inner:hover {
  width:600%!important; 
  cursor: pointer;
}
.ng-image-slider .ng-image-slider-container .main .main-inner .img-div .caption{
z-index: 500;
}
.ng-image-slider .ng-image-slider-container .main .main-inner .img-div.image-popup:hover{
  margin-left: 14px!important; 
  margin-right: 14px!important;
}
.ng-image-slider .ng-image-slider-container .main .main-inner .img-div .caption{
  top:0px!important; 
  font-size: 20px!important;
  font-weight: bold;
  text-transform:uppercase;
} 
.ng-image-slider .ng-image-slider-container .main .main-inner .img-div .caption:hover{
 
 background-image:linear-gradient(to right,rgba(0,0,0,.1),rgba(0, 0, 0, 0.78),rgba(0, 0, 0, 0.74),rgba(0, 0, 0, 0.77),rgba(0,0,0,.1))!important;
} 
.ng-image-slider .ng-image-slider-container .main .main-inner .img-div .youtube-icon{
  z-index: 800!important;
 
  
}
.ng-image-slider .ng-image-slider-container .main .main-inner .img-div .youtube-icon:hover{
  width: 100%;
  height: 100%; 
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  z-index: 1000!important;
  top:20px;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
 
  }
  to {
    transform: rotate(360deg);
    
  }
} 
.selected-video{
  -webkit-box-shadow: 6px 3px 20px 0px rgba(240,240,240,1);
  -moz-box-shadow: 6px 3px 20px 0px rgba(240,240,240,1);
  box-shadow: 6px 3px 20px 0px rgba(240,240,240,1);
  
}

/* End styles memu */