* {
  padding: 0%;
  margin: 0%;
}


.mat-menu-content {
  background-color: black !important
}

.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
  white-space: normal;
  margin-right: 200px;
}

.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
  font-family: 'Lato', sans-serif;
  ;
}

.mat-icon-button {
  padding: 0;
  min-width: auto !important;
  width: auto !important;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
}

/* .container1 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    border: 2px dashed rgba(114, 186, 94, 0.35);
    height: 400px;
    background: rgba(114, 186, 94, 0.05);
  }
  
  .pirate {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
 */

p, label {
  color: black;
}

#fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 1) 70%), url('../src/assets/loginbackground.jpg');
  background-size: 100% 100%, 100%, 100%;
  min-height: calc(100vh - 119px);
  font-family: 'Quattrocento Sans', sans-serif;
  background:url(assets/main/pared_01.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  width:100%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/* .ng-star-inserted {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: -70px;
} */